
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&family=Playfair+Display:wght@700&display=swap');


:root {
    --color-primario: #2c3e50;
    --color-secundario: #bdc3c7;
    --color-terciario: #2980b9;
    --color-fondo: #ecf0f1;
    --color-texto: #34495e;
}


footer {
    background-color: var(--color-primario);
    height: 60px;
    text-align: center;
    padding: 5px;
    margin-top: 0.5%;
    font-family: 'Arial', sans-serif;
    color: var(--color-secundario);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p {
    margin: 0;
    font-size: 14px;
    margin-left: 5%;
}

footer .social-icons {
    display: flex;
    gap: 10px;
    margin-right: 5%;
}

footer .social-icons img {
    width: 24px;
    height: 24px;
}


body{
    background-color:var(--color-fondo) ;
    color: var(--color-texto);
}

.logo-alura{
    width: 120px;
    height: 48px;
}

.div-principal{ 
    display: flex;
    flex-direction: row;
}

.div-left{
    display: flex;
    flex-direction: column;
}

.div-center{
    display: flex;
    flex-direction: column;
}

#div-mostrar-mensaje{
    width: 100%;
    height: 13%;
    border-radius: 5%;
    background-color: var(--color-secundario);
}

#div-principal-mensaje{
    background-color: var(--color-secundario);
    
    margin-left: 7%;
    border-radius: 5%;
    width: 28%;
    height: 500px;
    margin-top: 2%;
}

#div-right{
    background-color: var(--color-secundario);
    display: flex;
    flex-direction: column;
    margin-left: 7%;
    border-radius: 5%;
    width: 80%;
    height: 400px;
    margin-top: 2%;
}

h1{
    color:var(--color-primario);
    padding-left: 20%;
    font-family: 'Lora', serif;
}

#mensaje-negritas{
    font-weight: bold;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#mensaje{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

.textarea-texto{
    background-color: var(--color-secundario);
    border: 1px solid var(--color-primario);
    width:700px;
    height: 340px;
    color: var(--color-texto);
}

.div-buttons{
    display: flex;
    flex-direction: row;
    gap: 6%;
}

.div-mensaje{
    display: flex;
    flex-direction: row;
}

.signo{
    margin-top: 20px;
    margin-right: 5px;
    width: 10px;
    height: 10px;
}

.button{
    background-color:var(--color-terciario);
    width: 150px;
    border: none;
    color: var(--color-secundario);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.3s;
}

#copiar{
    background-color:var(--color-primario);
    width: 100px;
    height: 40px;
    border: none;
    color: var(--color-secundario);
    text-align: center;
    text-decoration: none;
    margin-left: 140px;
    
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.3s;
}

#toast {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
    padding: 16px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#toast.show {
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

